<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FidoAPITest">

    <listeners>
        <listener  class-name="utilities.ExtentReportManager" />
    </listeners>

    <test thread-count="5" name="FidoAPITest">
        <classes>

<class name="org.fidoTest.TestCases.AuthenticateTC"></class>
            <class name="org.fidoTest.TestCases.VideoGamesTC"></class>
        </classes>
    </test> <!-- FidoAPITest -->
</suite> <!-- TestSuite -->
